/* TSOS.css */

body {
  background: #909193 url(distrib/images/linen.png) repeat;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: black;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

table, th, td{
  border: 1px solid black;
  border-collapse: collapse;
}
#cpuTable{
  position: relative;
  color: black;
  background-color: white;
}
#processLabel{
  color: black;
  border: 2px solid;
}
#processMemTable{
  position: relative;
  color: black;
  border: 2px solid;
  height: 150px;
  width: 700px;
  overflow-y: scroll;
  display: block;
}
#hardDrive{
  position: relative;
  color: black;
  border: 2px solid;
  height: 200px;
  width: 675px;
  overflow-y: scroll;
  display: block;
}
#pcbLabel{
  color: black;
  border: 2px solid;
}

#pcbTable{
  position: relative;
  color: black;
  background-color: white;
  border: 2px solid;
  overflow: scroll;
  width: 650px;
  display:block;
}
h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
